[submodule "Hardware/KiCadMikroKopter"]
	path = Hardware/KiCadMikroKopter
	url = git@github.com:ctraabe/KiCadMikroKopter.git
[submodule "Hardware/KiCadCommon"]
	path = Hardware/KiCadCommon
	url = git@github.com:ctraabe/KiCadCommon.git
